
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>*@
<a class="btn btn-success" asp-action="ClearTmp">Limpiar archivos temporales</a>
<div class="card">
    <h5 class="card-header">Productos</h5>
    <div class="card-body">
        <h5 class="card-title">Apartado para la creaci&oacute;n de productos</h5>
        <p class="card-text">Aqu&iacute; podremos crear nuevos producto, editarlos o eliminarlos</p>
        <a asp-action="Index" asp-controller="Productos" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Categorias</h5>
    <div class="card-body">
        <h5 class="card-title">Apartado para la creaci&oacute;n de las categorias de tus productos.</h5>
        <p class="card-text">Aqu&iacute; podremos crear nuevas categorias, editarlas o eliminarlas.</p>
        <a asp-action="Index" asp-controller="Categories" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Mensajes</h5>
    <div class="card-body">
        <h5 class="card-title">Apartado para la visualizaci&oacute;n de mensajes enviados al servidor</h5>
        <p class="card-text"></p>
        <a asp-action="Index" asp-controller="Contactos" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Ordenes</h5>
    <div class="card-body">
        <h5 class="card-title">Apartado para visualizar las ordenes realizadas por los usuarios</h5>
        <p class="card-text"></p>
        <a asp-action="OrderMenu" class="btn btn-primary">Visitar</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Marcas</h5>
    <div class="card-body">
        <h5 class="card-title">Apartado para visualizar y agregar marcas nuevas</h5>
        <p class="card-text"></p>
        <a asp-action="Index" asp-controller="Brands" class="btn btn-primary">Visitar</a>
    </div>
</div>