@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 404.</h1>
<h2 class="text-danger">Un error ha ocurrido al procesar la solicitud</h2>
<h2 class="text-danger">Por favor contacte a soporte en el apartado de contacto y notifique el error.</h2>
