@model TiendaEnLinea2.Data.ViewModels.CarouselViewModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control"/>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input asp-for="Img" class="form-control-file"/>
                <span asp-validation-for="Img" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Regresar</a>
</div>

