@model TiendaEnLinea2.Data.Models.Contacto
@{
    ViewData["Title"] = "Contacto";
}

<h1>Nunca fue tan facil comunicarte con nostros</h1>
<form asp-action="Contacto">
    <div class="form-group">
        <label class="form-control-label">Deja tu mensaje aqu&iacute;:</label>
        <textarea asp-for="Mensaje" placeholder="Escribe tu mensaje" class="form-control"></textarea>
    </div>
    <input type="submit" value="Enviar mensaje" class="btn btn-outline-success"/>
</form>

