
@{
    ViewData["Title"] = "OnAprove";
}

<h1 class="alert alert-success">Completado</h1>
<h2 class="alert alert-success">Su compra ha sido completada exitosamente, para poder completar su orden realice su pago mediante transferencia bancaria</h2>
<h2 class="alert alert-success">CLABE: 000000000000000000000000</h2>
<h2 class="alert alert-success">Referencia de pago: @ViewBag.Refe</h2>
<h5>Colocar bien su referencia de pago y pagar m&iacute;nimo 2 d&iacute;as antes de su entrega; en caso de no haber realizado el pago en tiempo su orden se cancelar&aacute;</h5>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success btn-lg">Salir</a>