@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes permisos para acceder a esta secci&oacute;n, de ser el caso contrario comunicate con soporte.</p>
</header>
