@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvide mi contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo para restaurar tu contrase&ntilde;a
</p>

