@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restaurar contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contrase&ntilde;a ha sido restaurada. Por favor <a asp-page="./Login">ingresa aqu&iacute;</a>.
</p>
